#weapons::-webkit-scrollbar {
    width: 10px;
    height: 0;
}
#weapons::-webkit-scrollbar-track {
    background: #616161; 
}
#weapons::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54); 
}
#weapons::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 44, 44); 
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#laptop-container {
    margin: 2vw auto 0 auto;
    width: max-content;
    position: relative;
}
#laptop-container-img {
    width: 70vw;
    user-select: none;
}
#laptop-area {
    position: absolute;
    width: 55.6vw;
    height: 31.18vw;
    top: 1.9vw;
    left: 7.1vw;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
}
#loader {
    display: none;
    position: absolute;
    left: 20.5vw;
    top: 7vw;
    background-color: #202020;
    width: 15vw;
    height: 15vw;
}
#loading, #browser-loader {
    margin: 2vw auto 0 auto;
    border: 0.8vw solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.8vw solid #272727;
    border-bottom: 0.8vw solid #272727;
    border-left: 0.8vw solid #353535;
    border-right: 0.8vw solid #353535;
    width: 6.25vw;
    height: 6.25vw;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#browser-loader-wrapper {
    margin-top: 8vw;
    display: none;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loader-text {
    margin: 1vw auto 0 auto;
    width: max-content;
}
#loader-text-span {
    color: #fff;
    font-size: 0.6vw;
}
.bar {
    border: 0.05vw solid #666;
    height: 0.2vw;
    width: 10vw;
    margin: 1vw auto 0 auto;
}
.bar .in {
    animation: fill 5s linear 1;
    height: 100%;
    background-color: #fff;
}
@keyframes fill {
0% {
    width: 0%;
}
100% {
    width: 100%;
}
}
#browser {
    display: none; /*XXX*/
    position: absolute;
    left: 2vw;
    top: 1.5vw;
    width: 51.6vw;
    height: 26vw;
    background-color: #1a1a1a;
}
#top-bar {
    width: 100%;
    background-color: #221d1d;
    height: 1vw;
}
#top-bar-close {
    float: right;
    width: 2vw;
    background-color: #a02a2a;
    text-align: center;
    height: 100%;
}
#top-bar-close span {
    color: #fff;
    font-size: 0.5vw;
    position: absolute;
    top: 0.25vw;
    right: 0.9vw;
}
#top-bar-close:hover {
    background-color: #8a1b1b;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
}
#tab {
    position: absolute;
    background-color: #272323;
    width: 4vw;
    padding: 0 1vw;
    height: 1vw;
}
#tab-span {
    position: absolute;
    top: 0.3vw;
    left: 0.8vw;
    color: #636363;
    font-size: 0.6vw;
}
#tab-close {
    position: absolute;
    right: 0.6vw;
    top: 0.3vw;
    color: #636363;
    font-size: 0.5vw;
}
#tab-close:hover {
    cursor: pointer;
}
#url-bar {
    background-color: #272323;
    height: 1.5vw;
    border-bottom: 0.05vw solid #131313;
}
#url {
    position: absolute;
    background-color: #2e2a2a;
    margin-left: 1.7vw;
    width: 47vw;
    height: 1vw;
    top: 1.3vw;
    padding: 0 0.8vw;
    border-radius: 1vw;

}
#url span {
    color: #636363;
    font-size: 0.6vw;
    position: absolute;
    top: 0.25vw;
}
#url-arrow {
    position: absolute;
    margin-left: 0.5vw;
    margin-top: 0.4vw;
}
#url-arrow img {
    position: absolute;
    width: 0.8vw;
    filter: invert(12%) sepia(62%) saturate(0%) hue-rotate(245deg) brightness(89%) contrast(70%);
}
#url-arrow:hover {
    filter: opacity(50%);
    cursor: pointer;
}
#apps-container {
    display: flex;
    flex-direction: column;
    padding: 0.3vw;
    flex-wrap: wrap;
    height: 30vw;
    width: 7.5vw;
}
.apps-app {
    width: 2.3vw;
    display: flex;
    flex-direction: column;
    padding: 0.4vw;
    text-align: center;
    border: 0.1vw solid transparent;
    user-select: none;
}
.apps-app img {
    width: 1.8vw;
    margin: 0 auto;
}
.apps-app span {
    color: #d4d4d4;
    font-size: 0.55vw;
    margin-top: 0.2vw;
}
.apps-app:hover {
    background-color: rgba(0, 195, 255, 0.336);
    cursor: pointer;
    border: 0.1vw solid #00d9ffb2;
}
#start {
    display: none;
    position: absolute;
    bottom: 2vw;
    width: 15vw;
    height: 14vw;
    background-color: #292929;
    user-select: none;
}
.--visible {
    display: block !important;
}
#start-user {
    margin: 1vw auto 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
}
#start-user img{
    width: 4vw;
}
#start-user span {
    font-size: 1vw;
    text-align: center;
    color: #fff;
    margin-top: 0.5vw;
}
#start-buttons {
    margin: 1.5vw auto 0 auto;
    width: max-content;
}
#start-off {
    border-radius: 50%;
    background: #2b2b2b;
    box-shadow: 8px 8px 16px #252525, -8px -8px 16px #313131;
    width: 4vw;
    height: 4vw;
}
#start-off:hover {
    box-shadow: 5px 5px 10px #252525, -5px -5px 10px #313131;
    transition-property: all;
    transition-duration: 0.1s;
    cursor: pointer;
}
#start-off img {
    width: 1vw;
    margin-left: 1.5vw;
    margin-top: 1.5vw;
    filter: invert();
}
#laptop-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2vw;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    user-select: none;
}
#laptop-footer-start {
    width: 2vw;
}
#laptop-footer-start img {
    width: 1.3vw;
    margin: 0.3vw 0 0 0.3vw;
}
#laptop-footer-start:hover {
    background-color: #ffffff15;
    transition-property: all;
    transition-duration: 0.2s;
}
.laptop-footer-start-active {
    background-color: #ffffff15;
}
.laptop-footer-start-active > #laptop-footer-start-img{
    filter: invert(58%) sepia(45%) saturate(6680%) hue-rotate(170deg) brightness(99%) contrast(101%);
}
#laptop-footer-start:hover > #laptop-footer-start-img {
    filter: invert(58%) sepia(45%) saturate(6680%) hue-rotate(170deg) brightness(99%) contrast(101%);
    transition-property: all;
    transition-duration: 0.2s;
}
#laptop-footer-search {
    background-color: #d3d3d3;
    width: 14vw;
    cursor: pointer;
    border: 0.1vw solid transparent;
}
#laptop-footer-search span {
    position: absolute;
    margin: 0.6vw;
    font-size: 0.7vw;
}
#laptop-footer-search:hover {
    border: 0.1vw solid gray;
}
#laptop-footer-apps {
    display: flex;
    flex-direction: row;
}
.laptop-footer-app {
    height: 100%;
    width: 2.3vw;
    box-shadow: 0px -0.1vw 0px #48bcda inset;
    margin-left: 0.2vw;
}
.laptop-footer-app img{
    width: 1.4vw;
    margin: 0.2vw 0 0 0.4vw;
}
.laptop-footer-app-active {
    background-color: #ffffff27;
}
.laptop-footer-app {
    display: none;
}
#laptop-footer-info {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}
#laptop-footer-time {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.6vw;
    color: #d3d3d3;
    margin-right: 1vw;
    padding: 0.377vw;
}
#laptop-footer-time:hover {
    background-color: #ffffff13;
    transition-property: all;
    transition-duration: 0.2s;
}
#laptop-footer-wifi {
    padding: 0.2vw;
}
#laptop-footer-wifi img {
    width: 0.8vw;
    margin-top: 0.5vw;
}
#laptop-footer-wifi:hover {
    background-color: #ffffff13;
    transition-property: all;
    transition-duration: 0.2s;
}
.laptop-footer-wifi-active {
    background-color: #ffffff13;
}
#laptop-start-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15vw;
    height: 20vw;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    user-select: none;
}
#laptop-start-left {
    width: 13%;
}
#laptop-start-container {
    display: none;
}
#laptop-start-hamburger {
    padding-top: 0.3vw;
}
#laptop-start-hamburger img {
    width: 0.8vw;
    margin-left: 0.55vw;
}
#laptop-start-hamburger:hover {
    background-color: #ffffff13;
    transition-property: all;
    transition-duration: 0.2s;
}
#laptop-start-options {
    position: absolute;
    bottom: 2vw;
    width: 13%;
}
.laptop-start-options-icon {
    padding: 0.3vw;
}
.laptop-start-options-icon img {
    width: 0.9vw;
    margin: 0.1vw 0 0 0.2vw;
}
.laptop-start-options-icon:hover {
    background-color: #ffffff13;
    transition-property: all;
    transition-duration: 0.2s;
}
.laptop-start-options-icon:last-child img {
    filter: invert();
}
#laptop-start-middle {
    width: 43%;
}
.laptop-start-title {
    color: #b8b8b8;
    font-size: 0.5vw;
}
#laptop-start-recently-parent {
    display: flex;
    flex-direction: column;
}
.laptop-start-recently-child {
    display: flex;
    flex-direction: row;
    padding: 0.25vw
}
.laptop-start-recently-child img {
    width: 0.8vw;
}
.laptop-start-recently-child span {
    color: #b8b8b8;
    font-size: 0.45vw;
    margin: 0.17vw 0 0 0.2vw;
}
.laptop-start-recently-child:hover {
    background-color: #ffffff13;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
}
#laptop-start-right {
    width: 44%;
}
.laptop-start-productivity {
    display: flex;
    flex-wrap: wrap;
}
.laptop-start-productivity-app {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: max-content;
    background-color: #ffffff13;
    padding: 0.6vw;
    position: relative;
    height: 1.7vw;
    border: 0.15vw solid transparent;
    margin: 0.1vw
}
.laptop-start-productivity-app img {
    width: 1.3vw;
}
.laptop-start-productivity-app span {
    color: #b8b8b8;
    font-size: 0.45vw;
    position: absolute;
    bottom: 0;
    left: 0.2vw;
    padding-bottom: 0.1vw;
}
.laptop-start-productivity-app:hover {
    border: 0.15vw solid #423f3f;
}
.productivity-cover-disney {
    background: url("../img/fakeapps/disneyplus.png") no-repeat;
    background-size: cover;
    width: 1.3vw;
}
.productivity-cover-spotify {
    background: url("../img/fakeapps/itshits.jpg") no-repeat;
    background-size: cover;
    width: 1.3vw;
}
.productivity-cover-spotify span {
    color: black;
}
#laptop-start-off-menu {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    width: 10vw;
    height: 2vw;
    z-index: 10;
    border-radius: 0.1vw;
    bottom: 3.8vw;
    user-select: none;
}
#laptop-start-off-menu img {
    width: 1vw;
    filter: invert();
    padding: 0.5vw;
}
#laptop-start-off-menu span {
    color: #fff;
    position: absolute;
    top: 0.7vw;
    font-size: 0.65vw;
}
#laptop-start-off-menu:hover {
    cursor: pointer;
    background-color: #1f1f1f;
}
#home-page {
    display: block; /*XXX*/
    margin: 6vw auto 0 auto;
    width: 35vw;
}
#home-page-img {
    margin: 0 auto;
    width: max-content;
}
#home-page-img img {
    width: 5vw;
}
#home-page-search {
    margin: 1vw auto 0 auto;
    width: max-content;
    display: flex;
    flex-direction: row;
}
#home-page-search input {
    width: 17vw;
    height: 2vw;
    padding: 0 1vw;
    color: #858585;
    border: none;
    font-size: 0.6vw;
    border-radius: 1vw 0 0 1vw;
    background: #1a1a1a;
    box-shadow:  2.5px 2.5px 5px #141414, -2.5px -2.5px 5px #202020;
}
textarea:focus, input:focus{
    outline: none;
}
#home-page-button {
    background-color: #252121;
    width: 2.5vw;
    padding: 0 0.5vw;
    height: 2vw;
    user-select: none;
    position: relative;
    border-radius: 0 1vw 1vw 0;
}
#home-page-button span {
    color: #fff;
    position: absolute;
    top: 0.6vw;
    left: 0.6vw;
    font-size: 0.7vw;
}
#home-page-button:hover {
    cursor: pointer;
    background-color: #201d1d;
    transition-property: all;
    transition-duration: 0.2s;
}
#notepad-app {
    display: none;
    position: absolute;
    width: 35vw;
    height: 18vw;
    background-color: #fff;
    top: 4vw;
    left: 11vw;
}
#notepad-header {
    background-color: #e7e7e7;
    width: 100%;
    height: 1.5vw;
    display: flex;
    flex-direction: row;
    user-select: none;
}
#notepad-header img {
    width: 1vw;
    padding: 0.2vw;
    margin-left: 0.3vw;
}
#notepad-header span {
    font-size: 0.6vw;
    margin: auto 0 auto 0.3vw;
    color: #a8a8a8;
}
#notepad-close {
    position: absolute;
    right: 0;
    width: 3vw;
    height: 1.5vw;
    font-size: 0.6vw;
}
#notepad-close span {
    position: absolute;
    left: 0.9vw;
    margin-top: 0.4vw;
    color: #a8a8a8;
}
#notepad-close:hover {
    background-color: #e01e1e;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
}
#notepad-text textarea {
    width: 34.7vw;
    height: 14.4vw;
    border: none;
    resize: none;
    font-size: 0.6vw;
}
#notepad-options {
    background-color: #e7e7e7;
    padding-left: 0.2vw;
}
#notepad-options span {
    font-size: 0.6vw;
    margin: 0.2vw;
    cursor: pointer;
    color: #918989;
}
#notepad-footer {
    cursor: pointer;
    user-select: none;
}
#notepad-footer span {
    font-size: 0.5vw;
    float: right;
    margin-right: 2vw;
}
#not-found {
    display: none;
    margin-top: -2vw;
    user-select: none;
}
#not-found-text {
    display: flex;
    flex-direction: column;
    margin: 6vw auto 0 auto;
    width: max-content;
    text-align: center;
    color: #423f3f;
}
#not-found-text span:nth-child(1) {
    font-size: 7vw;
}
#not-found-text span:nth-child(2) {
    font-size: 1.5vw;
}
#not-found-text span:nth-child(3) {
    font-size: 0.8vw;
}
#not-found-text span:nth-child(4) {
    font-size: 0.6vw;
    margin-top: 0.3vw;
    text-align: left;
    color: #9e9e9e;
    text-decoration: underline;
}
#not-found-text span:nth-child(4):hover {
    cursor: pointer;
    color: gray;
    transition-property: all;
    transition-duration: 0.2s;
}
#weapons {
    display: none; /*XXX*/
    background-color: #302c2c;
    height: 23.5vw;
    width: 100%;
    overflow: scroll;
}
#weapons-header {
    display: flex;
    flex-direction: row;
    background-color: #292424;
}
#weapons-header h1 {
    color: #fff;
    margin-left: 3vw;
    font-size: 2vw;
}
#weapons-header h1 span {
    color: red;
}
#weapons-header-links {
    margin: auto 0;
    height: max-content;
    color: #585858;
    font-weight: bold;
    margin-left: 5vw;
    font-size: 0.7vw;
}
#weapons-header-links span {
    margin: 0.5vw;
}
#weapons-header-links span:hover {
    cursor: pointer;
    text-decoration: underline;
}
#drugs {
    display: none;
}
#image {
    display: none;
    margin-left: 11vw;
    margin-top: 2vw;
    background-color: #1d1d1d;
    width: 35vw;
    height: 25vw;
    text-align: center;
    position: absolute;
}
#image img {
    width: 17vw;
    margin-top: 3.7vw;
}
#image-header {
    background-color: rgb(32, 32, 32);
    height: 1.5vw;
    user-select: none;
    font-size: 0.8vw;
}
#image-title {
    position: absolute;
    left: 0.5vw;
    top: 0.3vw;
    color: #9b9b9b;
}
#image-close {
    position: absolute;
    right: 0;
    width: 3vw;
    height: 1.5vw;
}
#image-close:hover {
    background-color: #ac2d2d;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
}
#image-close-span {
    color: #9b9b9b;
    position: absolute;
    right: 1.3vw;
    top: 0.3vw;
}
#notify-wrapper {
	position:absolute; 
	left:0; 
	top:0; 
	right:0; 
	bottom:0; 
	opacity: 0.84;
	pointer-events: none;
	z-index: 10000000000000;
}
.notify-parent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.8vw;
}
.notify-child {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0.4vw 1vw;
    border-radius: 0.26vw;
    font-weight: bold;
    width: 13vw;
    margin-bottom: 0.26vw;
    user-select: none;
}
.notify-icon {
    margin: auto 0.9vw auto 0;
    font-size: 0.6vw;
}
.notify-text {
    font-size: 0.5vw;
    margin: auto 0;
}
#laptop-wifi-container {
    display: none;
}
#laptop-wifi-wrapper {
    position: absolute;
    background-color: #272727;
    width: 10vw;
    height: 17vw;
    bottom: 0;
    right: 0;
}
.wifi-connected {
    display: flex;
    flex-direction: column;
    background-color: #008cff;
}
.wifi-connected-info, .wifi-child {
    display: flex;
    flex-direction: row;
    user-select: none;
}
.wifi-connected img, .wifi-child img {
    width: 0.78vw;
    height: 0.78vw;
    margin: 0.8vw 0 0.8vw 0.8vw;
}
.wifi-connected-text {
    display: flex;
    flex-direction: column;
    margin: 0.5vw 0 0.5vw 0.5vw;
}
.wifi-connected-text-titel {
    font-size: 0.7vw;
    color: #fff;
}
.wifi-connected-text-sub {
    font-size: 0.65vw;
    color: #a8a8a8;
}
#wifi-connected-disconnect {
    background-color: #00b7ff;
    width: max-content;
    text-align: center;
    padding: 0.2vw 1.2vw;
    margin: 0.5vw 0.5vw 0.5vw 3.6vw;
    font-size: 0.7vw;
    color: #fff;
}
#wifi-connected-disconnect:hover {
    background-color: #02d6fc;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
}
.wifi-child:hover {
    cursor: pointer;
    background-color: #1f1f1f;
    transition-property: all;
    transition-duration: 0.2s;
}
#fivem-container {
    display: none;
    margin: 0 auto;
    width: 15vw;
}
#fivem-wrapper {
    position: absolute;
    width: 15vw;
    height: 18vw;
    background: url("../img/fivem/bground.png") no-repeat;
    background-size: cover;
    top: 5.5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #c7c7c7;
}
#fivem-wrapper span:first-child {
    font-weight: bold;
    margin-top: 10vw;
    font-size: 1vw;
}
#fivem-wrapper span:nth-child(3) {
    font-size: 0.6vw;
}
.bar-fivem {
    margin: 0.6vw auto;
}
#fivem-crash-container {
    display: none;
    margin: 0 auto;
    width: 15vw;
}
#fivem-crash-wrapper {
    position: absolute;
    background-color: #e4e4e4;
    width: 15vw;
    height: 9vw;
    margin-top: 10vw;
}
#fivem-crash-header {
    height: 1.2vw;
}
#fivem-crash-header span {
    font-size: 0.5vw;
    margin-left: 0.3vw;
}
#fivem-crash-rage {
    background-color: rgb(201, 12, 12);
    height: 1.4vw;
    position: relative;
}
#fivem-crash-rage img {
    width: 1vw;
    margin: 0.2vw 0 0 0.5vw;
}
#fivem-crash-rage span {
    font-size: 0.6vw;
    color: #fff;
    position: absolute;
    top: 0.35vw;
    margin-left: 0.5vw;
}
#fivem-crash-bio {
    margin: 0.3vw 0 0 1.3vw;
    line-height: 30%;
}
#fivem-crash-bio-span {
    font-size: 0.4vw;
}
#fivem-crash-bio-bar {
    background-color: red;
    width: 99%;
    height: 0.5vw;
    margin-top: 1vw;
}
#fivem-crash-info {
    line-height: normal;
    display: flex;
    flex-direction: column;
    color: #376fe7;
    border: 0.01vw solid #376fe7;
    margin: 0.3vw;
}
#fivem-crash-info-title {
    font-size: 0.7vw;
}
#fivem-crash-info-sub {
    font-size: 0.4vw;
}
#fivem-crash-info:hover {
    cursor: pointer;
    user-select: none;
}
#fivem-crash-footer {
    background-color: #bebebe;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.4vw;
}
#fivem-crash-remove {
    float: right;
    background-color: #acacac;
    padding: 0.15vw 1vw;
    margin: 0.20vw 0.3vw 0 0;
    font-size: 0.5vw;
    border: 0.1vw solid gray;
}
#fivem-crash-remove:hover {
    background-color: #979696;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
}
#fivem-crash-footer-text {
    font-size: 0.4vw;
    margin-left: 0.5vw;
    top: 0.49vw;
    position: absolute;
}
.error-modal-wrapper {
    display: none;
    margin: 0 auto;
    width: 15vw;
}
.error-modal {
    position: absolute;
    background-color: #e6e6e6;
    width: 15vw;
    height: 5vw;
    margin-top: 13vw;
    z-index: 10000;
}
.error-modal-header {
    background-color: #8da7cc;
    height: 1vw;
}
.error-modal-header img {
    width: 0.7vw;
    margin-left: 0.3vw;
    top: 0.15vw;
    position: absolute;
}
.error-modal-header-title {
    font-size: 0.5vw;
    color: #4d4949;
    position: absolute;
    left: 1.3vw;
    top: 0.2vw;
}
.error-modal-header-remove {
    position: absolute;
    right: 0;
    padding: 0 0.7vw;
    height: 1vw;
}
.error-modal-header-remove span {
    font-size: 0.7vw;
    color: #4d4949;
}
.error-modal-header-remove:hover {
    background-color: #b63d3d;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
}
.error-modal-header-remove:hover > .error-modal-remove-title {
    color: #dddddd;
}
.error-modal-body {
    display: flex;
    flex-direction: row;
    margin: 0.8vw auto 0 auto;
    width: max-content;
}
.error-modal-body img {
    width: 1.3vw;
    height: 1.3vw;
}
.error-modal-body span {
    font-size: 0.5vw;
    margin: auto 0 auto 0.4vw;
    height: max-content;
}
.error-modal-footer {
    background-color: #d6d6d6;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.4vw;
}
.error-modal-footer span {
    position: absolute;
    font-size: 0.5vw;
    background-color: #b6b6b6;
    top: 0.25vw;
    right: 0.4vw;
    width: 3vw;
    text-align: center;
    padding: 0.1vw 0;
    border: 0.1vw solid rgb(0, 153, 255);
}
.error-modal-footer span:hover {
    background-color: #a3a3a3;
    transition-property: all;
    transition-duration: 0.2;
    cursor: pointer;
}
#weapons-container {
    display: flex;
    flex-direction: row;
    height: max-content;
    margin-top: 0.5vw;
}
#weapons-categories {
    width: 25%;
}
#weapons-products {
    width: 75%;
}
.weapons-categories-header {
    background-color: #423d3d;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1vw 0;
}
.weapons-categories-header span {
    font-size: 1vw;
    font-weight: bold;
    color: #e2e2e2;
}
.weapons-categories-parent {
    width: 90%;
    margin: 0 auto;
}
.weapons-categories-child {
    background-color: #504c4c;
    padding: 0.3vw;
    margin-top: 0;
    position: relative;
}
.weapons-categories-child:nth-child(even) {
    background-color: #474444;
}
.weapons-categories-child img {
    width: 0.8vw;
    margin-top: 0.17vw;
}
.weapons-categories-child span {
    font-size: 0.6vw;
    color: #e2e2e2;
    position: absolute;
    top: 0.55vw;
    left: 1.5vw;
}
.weapons-categories-child:hover {
    filter: opacity(80%);
    cursor: pointer;
    user-select: none;
}
#weapons-products-parent {
    width: 95%;
    background-color: #504c4c;
    display: flex;
    flex-wrap: wrap;
}
.weapons-products-child {
    background-color: #413e3e;
    width: 6.865vw;
    height: 6.5vw;
    margin: 0.2vw;
    text-align: center;
    position: relative;
}
.weapons-products-child-header {
    background-color: #383838;
    height: 1.3vw;
}
.weapons-products-child-header span {
    font-size: 0.7vw;
    line-height: 1.3vw;
    color: #c2c2c2;
}
.weapons-products-child-body {
    margin-top: 0.4vw;
    overflow: hidden;
}
.weapons-products-child-body img {
    height: 2.8vw;
}
.weapons-products-child-body span {
    position: absolute;
    bottom: 1.5vw;
    left: 0.2vw;
    font-size: 0.7vw;
    color: #a3a3a3;
}
.weapons-products-child-footer {
    position: absolute;
    background-color: #383838;
    bottom: 0;
    width: 100%;
    height: 1.5vw;
    line-height: 1.5vw;
}
.weapons-products-child-footer span {
    padding: 0.25vw;
    font-size: 0.8vw;
    color: #c2c2c2;
}
#weapons-total {
    background-color: #313030;
}
.weapons-products-child-footer span:hover {
    background-color: #313030;
    cursor: pointer;
    user-select: none;
}
.cart-header {
    margin-top: 0.5vw;
}
.weapons-cart-child {
    background-color: #504c4c;
    padding: 0.3vw;
    margin-top: 0;
}
.weapons-cart-child:nth-child(even) {
    background-color: #474444;
}
.weapons-cart-child span {
    font-size: 0.7vw;
    color: #e2e2e2;
    margin-left: 0.3vw;
}
.weapons-cart-child-price {
    float: right;
    margin-right: 0.3vw;
}
.weapons-cart-parent {
    width: 90%;
    margin: 0 auto;
    height: 4vw;
    overflow: scroll;
}
.weapons-cart-parent::-webkit-scrollbar {
    width: 0.4vw;
    height: 0;
}
.weapons-cart-parent::-webkit-scrollbar-track {
    background: #616161; 
}
.weapons-cart-parent::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54); 
}
.weapons-cart-parent::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 44, 44); 
}
#weapons-cart-total {
    background-color: #423d3d;
    width: 90%;
    height: 1.5vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
#weapons-cart-total span {
    margin: 0.35vw 0 0 0.3vw;
    font-size: 0.7vw;
    color: #e2e2e2;
}
#weapons-cart-total div {
    position: absolute;
    right: 0.3vw;
    margin: 0.14vw 0.3vw 0 0;
    font-size: 0.7vw;
    color: #e2e2e2;
    background-color: #3a3a3a;
    padding: 0.15vw 0.7vw;
    border: 0.1vw solid #353535;
}
#weapons-cart-total div:hover {
    background-color: #313131;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
}
#porn {
    display: none;
    margin: 3vw auto 0 auto;
    width: max-content;
}
#porn-video {
    pointer-events:none;
    position:absolute;
    left:0;
    pointer-events:none;
    width:51.5vw;
    height:90%;
    bottom: 0;
}
#virus-overlay {
    position: absolute;
    z-index: 100;
    height: 93%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
}
.virus-child {
    background-color: #c71313;
    width: 21vw;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0.5vw 1vw;
    pointer-events: all;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.virus-title {
    font-size: 1vw;
    font-weight: bold;
}
.virus-sub-title {
    font-size: 0.8vw;
    margin: 0.4vw 0;
    font-weight: 600;
}
.virus-text {
    font-size: 0.6vw;
}
.virus-footer {
    padding-top: 0.5vw;
    margin-top: 0.5vw;
    border-top: 0.1vw solid #fff;
    display: flex;
    flex-direction: row;
}
.virus-footer img {
    width: 4vw;
    height: 0.8vw;
    margin-top: 0.5vw;
}
.virus-accept {
    margin: 0 0 0 auto;
    border: 0.1vw solid #fff;
    font-size: 0.6vw;
    padding: 0.5vw 1vw;
}
.virus-accept:hover {
    background-color: #fff;
    color: #c71313;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
}
.virus-get {
    background-color: #fff;
    color: #c71313;
    font-size: 0.6vw;
    margin-left: 0.6vw;
    padding: 0.6vw 1.7vw;
}
.virus-get:hover {
    background-color: transparent;
    color: #fff;
    user-select: none;
    background-color: #b11414;
    cursor: pointer;
    transition: 0.2s;
}
#blue-screen {
    display: none;
    position: absolute;
    z-index: 200;
    height: 100%;
    width: 100%;
    background-color: #008cff;
    user-select: none;
}
#blue-screen-crash {
    display: flex;
    flex-direction: row;
    margin: 8vw auto;
    width: max-content;
}
#blue-screen-left {
    display: flex;
    flex-direction: column;
    width: 28vw;
    color: #fff;
}
#blue-screen-sad {
    font-size: 5vw;
}
#blue-screen-title {
    margin: 1vw 0;
    font-size: 0.9vw;
}
#blue-screen-percent {
    font-size: 1vw;
}
#blue-screen-windows {
    width: 12vw;
    height: 12vw;
    margin: auto 0 auto 4vw;
}
#blue-screen-qr {
    display: flex;
    flex-direction: row;
    margin-top: 0.8vw;
}
#blue-screen-qr-text {
    display: flex;
    flex-direction: column;
    font-size: 0.7vw;
    margin-left: 0.7vw;
}
#blue-screen-qr-text span {
    margin: 0.2vw 0;
}
#blue-screen-qr img {
    width: 4.5vw;
    height: 4.5vw;
    margin-left: 0;
}
#blue-screen-restart span {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 17.5vw;
    color: #fff;
    font-size: 1vw;
    font-weight: 100;
}
#laptop-start-options-menu {
    display: none;
    position: absolute;
    top: 9.25vw;
    background-color: #1d1d1d;
    width: 10vw;
    height: 5vw;
    z-index: 5;
}
#screen-light {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0%;
    pointer-events: none;
    z-index: 1000000;
}
.slider {
    width: 6vw;
    margin-left: 2vw;
    height: 0.3vw;
}
#laptop-start-options-menu span {
    color: #fff;
    font-size: 0.6vw;
    margin-left: 2vw;
    margin-bottom: 0;
}
#ts-wrapper {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 45vw;
    height: 25vw;
    top: 2vw;
    left: 5vw;
}
#ts-header {
    background-color: #dadada;
}
#ts-close {
    background-color: #aeaeae;
    width: 3vw;
    margin: 0 0 0 auto;
    text-align: center;
    user-select: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.8vw;
}
#ts-close:hover {
    background-color: #ff5555;
    transition: 0.2s;
}
#ts-page-header {
    display: flex;
    flex-direction: row;
    padding: 0.8vw 1.5vw;
}
#ts-page-header img {
    width: 12vw;
    height: 3vw;
    margin-top: 0.75vw;
}
#ts-header-icons {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: auto;
    cursor: pointer;
    user-select: none;
}
.ts-header-icon {
    padding: 0.4vw 1vw;
    border-top: 0.2vw solid transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.7vw;
}
.ts-header-icon i {
    font-size: 2.5vw;
    color: #575757;
}
.ts-header-icon:hover {
    border-top: 0.2vw solid #575757;
}
#paint-wrapper {
    display: none;
    position: absolute;
    background-color: #e9e9e9;
    width: 45vw;
    height: 24vw;
    top: 3vw;
    left: 5.5vw;
    overflow: hidden;
}
#paint-header {
    background-color: #e0e0e0;
}
#paint-header div {
    background-color: #ff5f54;
    width: 3vw;
    text-align: center;
    margin: 0 0 0 auto;
    user-select: none;
    cursor: pointer;
    color: #fff;
    font-size: 1vw;
}
#paint-header div:hover {
    background-color: #c44d45;
    transition: 0.2s;
}
#paint-options {
    background-color: #e4cece;
    padding: 0.3vw;
    display: flex;
    flex-direction: row;
}
#paint-thickness {
    border: 0.15vw solid transparent;
    width: max-content;
    padding: 0.7vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.2vw 0.7vw;
}
#paint-thickness i {
    font-size: 1vw;
}
#paint-i-down {
    font-size: 0.5vw !important;
    margin-top: 0.5vw;;
}
#paint-thickness:hover, .paint-thickness-clicked, .paint-btn:hover {
    background-color: #d2bfbf;
    transition: 0.5s;
    border: 0.15vw solid #7e7e7e;
    cursor: pointer;
}
#paint-thickness-menu {
    display: none;
    position: absolute;
    background-color: #e4cece;
    width: 7vw;
    top: 5.35vw;
    left: 1vw;
    padding: 0.5vw;
}
#paint-thickness-menu div {
    background-color: #dac6c6;
    padding: 0.2vw 0.5vw;
    user-select: none;
    cursor: pointer;
    margin: 0.2vw 0;
    border: 0.1vw solid #b19f9f;
}
#paint-thickness-menu div span {
    font-size: 0.7vw;
}
#paint-thickness-menu div i {
    width: 0.8vw;
}
#paint-thickness-normal {
    font-size: 0.4vw !important;
}
#paint-thickness-thick {
    font-size: 0.6vw !important;
}
#paint-thickness-thicker {
    font-size: 0.8vw !important;
}
#paint-thickness-menu div:hover {
    background-color: #c4b0b0;
    transition: 0.2s;
}
.paint-thickness-activated {
    background-color: #b39f9f !important;
}
#paint-canvas {
    background-color: #fff;
    margin: 0.65vw 0 0 0.65vw;
    cursor: crosshair;
}
#paint-colors {
    display: flex;
    flex-wrap: wrap;
    width: 4.5vw;
    margin: 0 1vw;
}
#paint-colors div {
    width: 1vw;
    height: 1vw;
    margin: 0 0.1vw;
    border: 0.1vw solid gray;
}
#paint-colors div:nth-child(1) {
    background-color: #1f1f1f;
}
#paint-colors div:nth-child(2) {
    background-color: #ffffff;
}
#paint-colors div:nth-child(3) {
    background-color: #4b4b4b;
}
#paint-colors div:nth-child(4) {
    background-color: #ff0000;
}
#paint-colors div:nth-child(5) {
    background-color: #fffb00;
}
#paint-colors div:nth-child(6) {
    background-color: #62ff00;
}
#paint-colors div:nth-child(7) {
    background-color: #00ffea;
}
#paint-colors div:nth-child(8) {
    background-color: #002fff;
}
#paint-colors div:nth-child(9) {
    background-color: #ff00e6;
}
#paint-colors div:hover {
    cursor: pointer;
}
#paint-current-color {
    background-color: #1f1f1f;
    width: 2vw;
    height: 2vw;
    margin: auto 0;
    border: 0.1vw solid #5b5b5b;
}
.paint-btn {
    text-align: center;
    margin: auto 0.1vw;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    border: 0.15vw solid transparent;
    user-select: none;
    cursor: pointer;
}
.paint-btn span {
    font-size: 0.7vw !important;
    margin-top: 0.5vw;
}
#paint-thickness-custom-menu {
    display: none;
}
#paint-thickness-custom-menu div {
    position: absolute;
    background-color: #e4cece;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1vw 1vw 1vw;
    left: 18vw;
    top: 12vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#custom-thickness-i {
    margin-bottom: 1vw;
    font-size: 5px;
}
#custom-thickness-close {
    margin: 0.4vw 0 0 auto;
    cursor: pointer;
    user-select: none;
}